<div class="row">
    {% for book in site.data.books %}<div
    class="col-sm-6 col-md-4 book-block">
    <div class="thumbnail">
        <a class="image-popup-vertical-fit" href="{{ book.img }}"><img src="{{ book.img }}"></a>
        <div class="caption">
            <h5>{{ book.title }}</h5>
            <p><span class="badge">{{ book.price }}</span></p>
            <p>{{ book.description }}; {{ book.pages }} pages.</p>
            {% if book.amazon != null %}
            <p><a class="btn btn-primary" href="{{ book.amazon }}">Buy on Amazon</a></p>
            {% else %}
            <p><a class="btn btn-primary" href="/buy.html">How to Buy</a></p>
            {% endif %}

        </div>
    </div>
</div>{% endfor %}
</div>