<h3>Contact Us</h3>
<div class="list-group">
    <p class="list-group-item"><i class="glyphicon glyphicon-earphone"></i> (864) 879-0932</p>
    <p class="list-group-item"><i class="glyphicon glyphicon-send"></i> sghannon@yahoo.com</p>
</div>

<h3>Robert "Bob" Henderson, Sr.</h3>
<img class="thumbnail" src="/images/henderson-profile-photo.png" alt="Bob Henderson and Wife">

<h3>Table of Contents</h3>
<div class="list-group">
    <a class="list-group-item" href="pafg01.htm">
        <i class="glyphicon glyphicon-tree-deciduous"></i>
        Descendants</a>
    <a class="list-group-item" href="index2.htm">
        <i class="glyphicon glyphicon-sort-by-alphabet"></i>
        Surname List</a>
    <a class="list-group-item" href="index3.htm">
        <i class="glyphicon glyphicon-sort-by-alphabet"></i>
        Name Index</a>
    <a class="list-group-item" href="download/descendan.zip">
        <i class="glyphicon glyphicon-save"></i>
        Download GEDCOM file (zip file)</a>
    <a class="list-group-item">
        <h6>Prepared by:</h6>
        <p>Robert H. (Bob) Henderson<br>
            119 Pinewood Drive<br>
            Greer, SC 29651-1441<br>
        </p>
    </a>
</div>